<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=172.16.1.230\SQLEXPRESS;Initial Catalog=EnglishNewWord;User ID=sa;Password=Miichisoft0104;Integrated Security=True;" providerName="System.Data.sqlclient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>